{% block cms_element_blur_elysium_slide_root %}

    {% if slide.slideSettings.containerHorizontalAlign %}
        {% set containerHorizonalAlignment = ' content-container__px-' ~ slide.slideSettings.containerHorizontalAlign %}
    {% endif %}
    {% if slide.slideSettings.containerBoxMode %}
        {% set containerBoxMode = ' content-container__box-mode' %}
    {% endif %}

    {# @TODO add video support #}
    {% set bgImageExtensionWhitelist = [
        'jpg',
        'jpeg',
        'png',
        'webp',
        'svg'
    ] %}

    {% block cms_element_blur_elysium_slide_css_styles %}
    
        {% apply spaceless %}
            <style>

                {# default background-image #}
                {% if slide.media.url and ( slide.media.fileExtension in bgImageExtensionWhitelist ) and imageFlowMode is same as( false ) %}
                    [data-elysium-slide-id="{{ slide.id }}"] {
                        background-image: url( {{ slide.media.url }} );
                    }
                {% endif %}

                {# portrait mode background-image #}
                {% if slide.mediaPortrait.url and ( slide.media.fileExtension in bgImageExtensionWhitelist ) and imageFlowMode is same as( false ) %}
                    @media only screen and (orientation: portrait) {
                        [data-elysium-slide-id="{{ slide.id }}"] {
                            background-image: url( {{ slide.mediaPortrait.url }} );
                        }
                    }
                {% endif %}

                {% if slide.slideSettings.containerMaxWidth and slide.slideSettings.containerBoxMode %}
                    @media screen and ( min-width: {{ theme_config('breakpoint.md') ~ 'px' }} ) {
                        [data-elysium-slide-id="{{ slide.id }}"] .cms-element-elysium-slide__container {
                            flex-basis: {{ slide.slideSettings.containerMaxWidth }} !important;
                            max-width: {{ slide.slideSettings.containerMaxWidth }} !important;
                        }
                    }                    
                {% endif %}
                {% block cms_element_blur_elysium_slide_css_styles_extend %}{% endblock %}
            </style>
        {% endapply %}
    {% endblock %}

    {% block cms_element_blur_elysium_slide %}
        <div data-elysium-slide-id="{{ slide.id }}" 
            class="cms-element-elysium-slide{% if imageFlowMode %} image-flow-mode{% endif %}{{ containerBoxMode }}{{ containerHorizonalAlignment }}">

            {% if slide.slideSettings.urlOverlay is same as( true ) and slide.translated.url %}
                <a href="{{ slide.translated.url }}" 
                    class="cms-element-elysium-slide__url-overlay"
                    title="{{ slide.translated.title }}}" 
                    class="btn btn-light cms-element-elysium-slide__cta-button"
                    {% if slide.slideSettings.urlTarget == "external" %}
                        target="_blank"
                    {% endif %}>{{ slide.translated.title }}</a>
            {% endif %}

            {# image element for image flow mode #}
            {% block cms_element_blur_elysium_slide_cover_image_element %}
                {% if ( slide.media.url or slide.mediaPortrait.url ) and ( slide.media.fileExtension in bgImageExtensionWhitelist ) and imageFlowMode %}
                    <picture class="{% block blur_elysium_slide_cover_picture_class %}cms-element-elysium-slide__cover-picture{% endblock %}">

                        {% if slide.mediaPortrait %}
                            <source 
                                media="(orientation: portrait)" 
                                srcset="{{ slide.mediaPortrait.url }}">                            
                        {% endif %}

                        <img src="{{ slide.media.url }}" 
                            alt="{{ slide.translated.title }}" 
                            class="{% block blur_elysium_slide_cover_picture_img_class %}cms-element-elysium-slide__cover-image-element{% endblock %}">                    
                    </picture>
                {% endif %}
            {% endblock %}

            {% block cms_element_blur_elysium_slide_container %}

                {% if imageFlowMode %}
                    <div class="cms-element-elysium-slide__image-flow-wrapper">
                {% endif %}

                <div class="cms-element-elysium-slide__container">

                    {% block cms_element_blur_elysium_slide_title %}
                        {% if slide.translated.title %}
                            <div class="{% block blur_elysium_slide_title_class %}cms-element-elysium-slide__title font-weight-bold fluid-text-title{% endblock %}">
                                {{ slide.translated.title }}
                            </div>                
                        {% endif %}
                    {% endblock %}

                    {% block cms_element_blur_elysium_slide_description %}
                        {% if slide.translated.description %}
                            <div class="{% block blur_elysium_slide_description_class %}cms-element-elysium-slide__description fluid-text-description{% endblock %}">
                                {{ slide.translated.description }}
                            </div>                
                        {% endif %}
                    {% endblock %}

                    {% block cms_element_blur_elysium_slide_actions %}
                        <div class="cms-element-elysium-slide__actions">
                            
                            {% block cms_element_blur_elysium_slide_action_cta_button %}
                                {# @TODO add button icon? #}

                                {% if slide.translated.button_label and slide.translated.url %}
                                    <a href="{{ slide.translated.url }}" 
                                        title="{{ slide.translated.button_label }}" 
                                        class="btn btn-light cms-element-elysium-slide__cta-button"
                                        {% if slide.slideSettings.urlTarget == "external" %}
                                            target="_blank"
                                        {% endif %}
                                        >
                                        
                                        {{ slide.translated.button_label }}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        </div>                
                    {% endblock %}

                </div>

                {% if imageFlowMode %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}