{% block cms_element_blur_elysium_slide_root %}

    {% if slide.slideSettings.containerHorizontalAlign %}
        {% set containerHorizonalAlignment = ' content-container__px-' ~ slide.slideSettings.containerHorizontalAlign %}
    {% endif %}
    {% if slide.slideSettings.containerBoxMode %}
        {% set containerBoxMode = ' content-container__box-mode' %}
    {% endif %}

    {# @TODO add video support #}
    {% set bgImageExtensionWhitelist = [
        'jpg',
        'jpeg',
        'png',
        'webp',
        'svg'
    ] %}

    {% block cms_element_blur_elysium_slide_css_styles %}

        {% apply spaceless %}
            <style>
                {% sw_include '@Storefront/storefront/element/blur-elysium-slide-media.html.twig' with {
                    media: slide.media,
                    slideId: slide.id,
                    extenstionWhitelist: bgImageExtensionWhitelist
                } only %}

                {# portrait mode background-image #}
                {% if slide.mediaPortrait.url and ( slide.media.fileExtension in bgImageExtensionWhitelist ) %}
                    @media screen and (orientation: portrait) {
                        {% sw_include '@Storefront/storefront/element/blur-elysium-slide-media.html.twig' with {
                            media: slide.mediaPortrait,
                            slideId: slide.id,
                            extenstionWhitelist: bgImageExtensionWhitelist
                        } only %}
                    }
                {% endif %}

                {% if slide.slideSettings.headline.textcolor %}
                    [data-elysium-slide-id="{{ slide.id }}"] .cms-element-elysium-slide__title {
                        color: {{slide.slideSettings.headline.textcolor}};
                    }
                {% endif %}

                {% if slide.slideSettings.containerBoxMode %}
                    {# @TODO make the min-width breakpoint configurable #}
                    @media screen and ( min-width: {{ theme_config('breakpoint.sm') ~ 'px' }} ) {
                        [data-elysium-slide-id="{{ slide.id }}"] .cms-element-elysium-slide__container {
                            {% if slide.slideSettings.containerMaxWidth %}
                                flex-basis: {{ slide.slideSettings.containerMaxWidth }} !important;
                                max-width: {{ slide.slideSettings.containerMaxWidth }} !important;                                
                            {% else %}
                                flex: 0 1 50%;
                                max-width: 50%;
                            {% endif %}
                        }
                    }                    
                {% endif %}
                {% block cms_element_blur_elysium_slide_css_styles_extend %}{% endblock %}
            </style>
        {% endapply %}
    {% endblock %}

    {% block cms_element_blur_elysium_slide %}
        <div data-elysium-slide-id="{{ slide.id }}" 
            class="cms-element-elysium-slide{{ containerBoxMode }}{{ containerHorizonalAlignment }}">

            {% if slide.slideSettings.urlOverlay is same as( true ) and slide.translated.url %}
                <a href="{{ slide.translated.url }}" 
                    class="cms-element-elysium-slide__url-overlay"
                    title="{{ slide.translated.title }}}" 
                    class="btn btn-light cms-element-elysium-slide__cta-button"
                    {% if slide.slideSettings.urlTarget == "external" %}
                        target="_blank"
                        rel="noopener"
                    {% endif %}>{{ slide.translated.title }}</a>
            {% endif %}

            {% block cms_element_blur_elysium_slide_container %}
                <div class="cms-element-elysium-slide__container">
                    {% set headlineElement = 'div' %}

                    {% if slide.slideSettings.headline.element %}
                        {% set headlineElement = slide.slideSettings.headline.element %}
                    {% endif %}

                    {% block cms_element_blur_elysium_slide_title %}
                        {% if slide.translated.title %}
                            <{{headlineElement|raw}} class="{% block blur_elysium_slide_title_class %}cms-element-elysium-slide__title font-weight-bold fluid-text-title{% endblock %}">
                                {{ slide.translated.title }}
                            </{{headlineElement|raw}}>                
                        {% endif %}
                    {% endblock %}

                    {% block cms_element_blur_elysium_slide_description %}
                        {% if slide.translated.description %}
                            <div class="{% block blur_elysium_slide_description_class %}cms-element-elysium-slide__description fluid-text-description{% endblock %}">
                                {{ slide.translated.description }}
                            </div>                
                        {% endif %}
                    {% endblock %}

                    {% block cms_element_blur_elysium_slide_actions %}
                        <div class="cms-element-elysium-slide__actions">
                            
                            {% block cms_element_blur_elysium_slide_action_cta_button %}
                                {# @TODO add button icon? #}

                                {% if slide.translated.button_label and slide.translated.url %}
                                    <a href="{{ slide.translated.url }}" 
                                        title="{{ slide.translated.button_label }}" 
                                        class="{% block blur_elysium_slide_button_class %}btn{% if slide.slideSettings.buttonAppearance %} btn-{{slide.slideSettings.buttonAppearance}}{% endif %} cms-element-elysium-slide__cta-button fluid-text-button{% endblock %}"
                                        {% if slide.slideSettings.urlTarget == "external" %}
                                            target="_blank"
                                            rel="noopener"
                                        {% endif %}
                                        >
                                        
                                        {{ slide.translated.button_label }}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}