{% set cmsElementClasses = [
    'cms-element-elysium-slider'
] %}

{% set showContainerWrapper = false %}

{% set swiperOptions = {
    a11y: true,
    breakpoints: {
        (theme_config('breakpoint.' ~ blurElysiumBreakpoints.mobile)): {
            slidesPerView: element.config.viewports.value.mobile.settings.slidesPerPage ?? 1,
            spaceBetween: element.config.viewports.value.mobile.sizing.slidesGap ?? 0
        },
        (theme_config('breakpoint.' ~ blurElysiumBreakpoints.tablet)): {
            slidesPerView: element.config.viewports.value.tablet.settings.slidesPerPage ?? 1,
            spaceBetween: element.config.viewports.value.tablet.sizing.slidesGap ?? 0
        },
        (theme_config('breakpoint.' ~ blurElysiumBreakpoints.desktop)): {
            slidesPerView: element.config.viewports.value.desktop.settings.slidesPerPage ?? 1,
            spaceBetween: element.config.viewports.value.desktop.sizing.slidesGap ?? 0
        }
    }
} %}

{% if element.config.settings.value.containerWidth is same as('content') %}
    {% set showContainerWrapper = true %}
{% endif %}

{% block cms_element_blur_elysium_slider_css_styles %}
    {% sw_include '@Storefront/storefront/component/elysium-slider/style.html.twig' %}
{% endblock %}

{% block cms_element_elysium_slider %}
    {% if element.data.slideCollection is not empty %}
        <div
            id="elysiumSlider-{{ element.id }}" 
            class="{{cmsElementClasses|join(' ')}}"
            data-elysium-slider="{{swiperOptions|json_encode}}">

            {% block cms_element_elysium_slider_container %}
                <div 
                    class="swiper"
                    data-elysium-slider-swiper>

                    {% block cms_element_elysium_slider_wrapper %}
                        <div class="swiper-wrapper">
                            {% for slide in element.data.slideCollection %}
                                {% block cms_element_elysium_slider_item %}
                                    {% set slideTemplate = 'default' %}
                                    {% set slideFile = 'slide.html.twig' %}

                                    {% if slide.product is not same as(null) and slide.slideSettings.slide.linking.type is same as('product') %}
                                        {% set slideFile = 'slide-product.html.twig' %}
                                    {% endif %}

                                    {% if slide.slideSettings.customTemplateFile is not empty %}
                                        {% set slideTemplate = 'custom' %}
                                        {% set slideFile = slide.slideSettings.customTemplateFile ~ '.html.twig' %}
                                    {% endif %}

                                    <div class="swiper-slide">
                                        {% block cms_element_blur_elysium_slider_slide %}
                                            {% sw_include '@Storefront/storefront/component/blur-elysium-slide/' ~ slideTemplate ~ '/' ~ slideFile ignore missing with {
                                                slideData: slide,
                                                showContainerWrapper: showContainerWrapper
                                            } %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% else %}
        {% block cms_element_elysium_slider_empty %}
            {% set cmsElementClasses = cmsElementClasses|merge(['is-empty']) %}

            <div class="{{cmsElementClasses|join(' ')}}">
                <p>{{ 'sw-cms.elements.elysiumSlider.emptyText'|trans }}</p>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}