{% set blurElysiumSectionClasses = ['blur-elysium-section-grid'] %}

{% if section.sizingMode is same as('boxed') %}
    {% set blurElysiumSectionClasses = blurElysiumSectionClasses|merge(['container']) %}
{% endif %}

{% block cms_blur_elysium_section %}
    <div class="{{ blurElysiumSectionClasses|join(' ') }}"
        style="display: grid; grid-template-columns: repeat(12, minmax(0, 1fr))">
        {% for block in section.blocks %}

            {% block cms_blur_elysium_section_blocks %}
                <div class="cms-block-container blur-elysium-section-block"
                    data-cms-block-id="{{block.id}}"
                    style="background-color: var(--elysium-section-block-bg-color, {{block.backgroundColor ?? 'transparent'}});grid-column-start: var(--elysium-section-block-col-start, auto);grid-column-end: var(--elysium-section-block-col-end, span 12)">

                    {%- if block.customFields.elysiumBlockSettings %}
                        <style>
                            {% for device, options in block.customFields.elysiumBlockSettings %}
                                @media (min-width: {{ theme_config('breakpoint.' ~ blurElysiumBreakpoints[device])~'px' }}) {
                                    .blur-elysium-section-block[data-cms-block-id="{{block.id}}"] {
                                        --elysium-section-block-col-end: span {{ options.colEnd }};
                                    }
                                }
                            {% endfor %}
                        </style>
                    {% endif -%}
                    {% sw_include '@Storefront/storefront/block/cms-block-' ~ block.type ~ '.html.twig' ignore missing %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}