<div>
    {% block blur_elysium_slides_detail_view_card_content_form %}
        <sw-card
            :position-identifier="positionIdentifiers.detail.base.general"
            :title="$tc('BlurElysiumSlides.baseForm.generalCardTitle')"
        >

        {% block blur_elysium_slides_basic_form %}

            {% block blur_elysium_slides_input_name %}
                <sw-text-field
                    v-model="slide.name" 
                    :error="blurElysiumSlidesNameError"
                    :label="$tc('BlurElysiumSlides.baseForm.labelInput.title')"
                    :placeholder="$tc('BlurElysiumSlides.baseForm.labelInput.placeholder')"
                    :helpText="$tc('BlurElysiumSlides.baseForm.labelInput.helpText')"
                    required
                />
            {% endblock %}

            {% block blur_elysium_slides_input_headline %}
                <blur-card-section>

                    <blur-paragraph 
                        :title="$tc('blurElysiumSlides.slideSettings.headline.title')"
                        :style="{
                            marginBottom: '16px'
                        }" />

                    <sw-container columns="1fr 1fr 1fr 1fr" gap="24px">
                        <sw-text-field
                            v-model="slide.title" 
                            :label="$tc('blurElysiumSlides.slideSettings.headline.label')"
                            :placeholder="$tc('blurElysiumSlides.slideSettings.headline.placeholder')"
                            :helpText="$tc('blurElysiumSlides.slideSettings.headline.helpText')"
                            :style="{
                                gridColumn: '1 / 5'
                            }" />

                        <sw-number-field 
                            type="int"
                            :label="$tc('blurElysiumSlides.slideSettings.display.common.fontSize')"
                            :step="1"
                            :min="0"
                            :value="viewportSettings.headline.fontSize"
                            @change="value => setViewportSetting({key:'headline.fontSize', value: value})"
                        >
                            <template #hint>
                                <blur-elysium-device-hint />
                            </template>
                        </sw-number-field> 

                        {% block blur_elysium_slides_input_headline_element %}
                            <sw-select-field 
                                :label="$tc('BlurElysiumSlides.settings.headline.element.label')"
                                :helpText="$tc('BlurElysiumSlides.settings.headline.element.helpText')"
                                :value="slide.slideSettings.slide.headline.element"
                                @change="value => setSlideSetting({key:'slide.headline.element', value: value})">
                                <option value="div">{{ $tc('blurElysiumSlider.general.default') }}</option>
                                <option value="h1">{{ 'H1' }}</option>
                                <option value="h2">{{ 'H2' }}</option>
                                <option value="h3">{{ 'H3' }}</option>
                                <option value="h4">{{ 'H4' }}</option>
                                <option value="h5">{{ 'H5' }}</option>
                                <option value="h6">{{ 'H6' }}</option>
                            </sw-select-field>
                        {% endblock %}

                        {% block blur_elysium_slides_input_headline_textcolor %}
                            <sw-colorpicker
                                colorOutput="auto"
                                :value="slide.slideSettings.slide.headline.color"
                                :label="$tc('blurElysiumSlider.general.textColor')"
                                :alpha="true"
                                :colorLabels="true"
                                :zIndex="100"
                                @input="value => setSlideSetting({ key: 'slide.headline.color', value: value })">
                            </sw-colorpicker>
                        {% endblock %}
                    </sw-container>
                </blur-card-section>
            {% endblock %}

            {% block blur_elysium_slides_input_description %}
                <blur-card-section>

                    <blur-paragraph 
                        :title="$tc('blurElysiumSlides.slideSettings.description.label')"
                        :style="{
                            marginBottom: '24px'
                        }" />

                    <sw-text-editor
                        v-model="slide.description"
                    />
                </blur-card-section>
            {% endblock %} 
        {% endblock %}

        {% block blur_elysium_slides_setting_slide_bg_color %}
            <sw-colorpicker
                colorOutput="auto"
                :value="slide.slideSettings.slide.bgColor" 
                :label="$tc('blurElysiumSlides.slideSettings.slide.bgColor')"
                :alpha="true"
                :colorLabels="true"
                :zIndex="100"
                @input="value => setSlideSetting({ key: 'slide.bgColor', value: value })">
            </sw-colorpicker>
        {% endblock %}

        <blur-card-section>

            <blur-paragraph 
                :title="$tc('blurElysiumSlides.slideSettings.slide.bgGradient.title')"
                :style="{
                    marginBottom: '24px'
                }" />

            <sw-container 
                columns="repeat(4, minmax(0, 1fr))" 
                gap="24px">

                <sw-colorpicker
                    colorOutput="auto"
                    :value="slide.slideSettings.slide.bgGradient.startColor" 
                    :label="$tc('blurElysiumSlides.slideSettings.slide.bgGradient.startColor')"
                    :alpha="true"
                    :colorLabels="true"
                    :zIndex="100"
                    @input="value => setSlideSetting({ key: 'slide.bgGradient.startColor', value: value })">
                </sw-colorpicker>

                <sw-colorpicker
                    colorOutput="auto"
                    :value="slide.slideSettings.slide.bgGradient.endColor" 
                    :label="$tc('blurElysiumSlides.slideSettings.slide.bgGradient.endColor')"
                    :alpha="true"
                    :colorLabels="true"
                    :zIndex="100"
                    @input="value => setSlideSetting({ key: 'slide.bgGradient.endColor', value: value })">
                </sw-colorpicker>

                <sw-select-field 
                    :value="slide.slideSettings.slide.bgGradient.gradientType"
                    :label="$tc('blurElysiumSlides.slideSettings.slide.bgGradient.gradientType')"
                    @change="value => setSlideSetting({key:'slide.bgGradient.gradientType', value: value})">
                    <option value="linear-gradient">Linear</option>
                </sw-select-field>

                <sw-number-field
                    type="int"
                    :step="1"
                    :min="-360"
                    :max="360"
                    :value="slide.slideSettings.slide.bgGradient.gradientDeg" 
                    :label="$tc('blurElysiumSlides.slideSettings.slide.bgGradient.gradientDeg')"
                    @change="value => setSlideSetting({ key: 'slide.bgGradient.gradientDeg', value: value })"
                />
            </sw-container>
        </blur-card-section>

        {% block blur_elysium_slides_setting_slide_css_class %}
            <sw-text-field
                :label="$tc('blurElysiumSlides.slideSettings.slide.cssClass.label')"
                :placeholder="$tc('blurElysiumSlides.slideSettings.slide.cssClass.placeholder')"
                :helpText="$tc('blurElysiumSlides.slideSettings.slide.cssClass.helpText')"
                :value="slide.slideSettings.slide.cssClass" 
                @input="value => setSlideSetting({ key: 'slide.cssClass', value: value })"
            />
        {% endblock %}
        </sw-card>
    {% endblock %}

    {% block blur_elysium_slides_detail_view_card_linking_form %}
        <sw-card
            :position-identifier="positionIdentifiers.detail.base.linking"
            :title="$tc('BlurElysiumSlides.baseForm.linkingCardTitle')"
        >

            <blur-card-section last>

                {% block blur_elysium_slides_linking_form %}
                    <sw-container columns="1fr 1fr" gap="24px" align="center">

                        <sw-select-field 
                            :label="$tc('blurElysiumSlides.linking.type.label')"
                            :value="slide.slideSettings.slide.linking.type"
                            @change="value => setSlideSetting({ key: 'slide.linking.type', value: value })">
                            <option value="custom">{{ $tc('blurElysiumSlides.linking.type.custom') }}</option>
                            <option value="product">{{ $tc('blurElysiumSlides.linking.type.product') }}</option>
                        </sw-select-field>

                        <template v-if="slide.slideSettings.slide?.linking?.type === 'custom'">
                            <blur-elysium-slide-settings-linking-custom />
                        </template>
                        <template v-else-if="slide.slideSettings.slide?.linking?.type === 'product'">
                            <blur-elysium-slide-settings-linking-product />
                        </template>
                        

                        {% block blur_elysium_slides_input_button_label %}
                            <sw-text-field
                                v-model="slide.button_label" 
                                :label="$tc('blurElysiumSlides.linking.button.label.label')"
                                :placeholder="$tc('blurElysiumSlides.linking.button.label.placeholder')"
                                :helpText="$tc('blurElysiumSlides.linking.button.label.helpText')"
                                :disabled="slide.slideSettings.slide.linking.overlay === true"
                            />
                        {% endblock %}

                        {% block blur_elysium_slides_input_button_appearance %}
                            <sw-select-field 
                                :label="$tc('blurElysiumSlides.linking.button.appearance.label')"
                                :helpText="$tc('blurElysiumSlides.linking.button.appearance.helpText')"
                                :disabled="slide.slideSettings.slide.linking.overlay === true"
                                :value="slide.slideSettings.slide.linking.buttonAppearance"
                                @change="value => setSlideSetting({ key: 'slide.linking.buttonAppearance', value: value })">
                                <option value="primary">{{ $tc('blurElysiumSlider.general.colorStates.primary') }}</option>
                                <option value="secondary">{{ $tc('blurElysiumSlider.general.colorStates.secondary') }}</option>
                                <option value="success">{{ $tc('blurElysiumSlider.general.colorStates.success') }}</option>
                                <option value="danger">{{ $tc('blurElysiumSlider.general.colorStates.danger') }}</option>
                                <option value="warning">{{ $tc('blurElysiumSlider.general.colorStates.warning') }}</option>
                                <option value="info">{{ $tc('blurElysiumSlider.general.colorStates.info') }}</option>
                                <option value="light">{{ $tc('blurElysiumSlider.general.colorStates.light') }}</option>
                                <option value="dark">{{ $tc('blurElysiumSlider.general.colorStates.dark') }}</option>
                            </sw-select-field>
                        {% endblock %}

                        {% block blur_elysium_slides_input_url_target %}
                            <sw-switch-field 
                                :label="$tc('blurElysiumSlides.linking.openExternal')" 
                                :value="slide.slideSettings.slide.linking.openExternal"
                                @change="value => setSlideSetting({ key: 'slide.linking.openExternal', value: value })">
                            </sw-switch-field>
                        {% endblock %}

                        {% block blur_elysium_slides_input_url_overlay %}
                            <sw-switch-field 
                                :label="$tc('blurElysiumSlides.linking.overlay.label')" 
                                :helpText="$tc('blurElysiumSlides.linking.overlay.helpText')"
                                :value="slide.slideSettings.slide.linking.overlay"
                                @change="value => setSlideSetting({ key: 'slide.linking.overlay', value: value })">
                            </sw-switch-field>
                        {% endblock %}
                        
                    </sw-container>
                {% endblock %}
            </blur-card-section>
        </sw-card>
    {% endblock %}
</div>