{% use '@BlurElysiumSlider/storefront/component/blur-elysium-slide/includes/container.html.twig' %}
{% use '@BlurElysiumSlider/storefront/component/blur-elysium-slide/includes/link-overlay.html.twig' %}

{% set defaultSlideClasses = [
    'blur-elysium-slide',
    'd-flex'
] %}

{% if showContainerWrapper is not defined %}  
    {% set showContainerWrapper = false %}
{% endif %}

{% if slideClasses is defined %} 
    {% set slideClasses = defaultSlideClasses|merge(slideClasses) %}
{% else %}
    {% set slideClasses = defaultSlideClasses %}
{% endif %}

{% set actionMainUrl = slideData.translated.url %}
{% set showActions = actionMainUrl and slideData.slideSettings.slide.linking.overlay is not same as( true ) %}
{% set actionMainLabel = slideData.translated.buttonLabel ?? 'blurElysiumSlides.buttonLabel'|trans %}

{% if slideData.slideSettings.slide.linking.type is same as('product') %}
    {% if slideData.product.id %}
        {% set actionMainUrl = seoUrl('frontend.detail.page', {'productId': slideData.product.id}) %}
    {% endif %}
    {% if slideData.slideSettings.slide.linking.overlay is not same as( true ) %}
        {% set showActions = true %}
    {% endif %}
    {% if slideData.translated.buttonLabel is empty %}
        {% set actionMainLabel = 'blurElysiumSlides.buttonLabelProduct'|trans %}
    {% endif %}
{% endif %}

{% if slideData.slideSettings.slide.linking.type is same as('category') %}
    {% if slideData.category.id %}
        {% set actionMainUrl = seoUrl('frontend.navigation.page', {'navigationId': slideData.category.id}) %}
    {% endif %}
    {% if slideData.slideSettings.slide.linking.overlay is not same as( true ) %}
        {% set showActions = true %}
    {% endif %}
    {% if slideData.translated.buttonLabel is empty %}
        {% set actionMainLabel = 'blurElysiumSlides.buttonLabelCategory'|trans %}
    {% endif %}
{% endif %}

{% if slideData is null %}
    <div class="{{ slideClasses|join(' ') }}">
        No slide data
    </div>
{% else %}
    {% block blur_elysium_slide %}

        <div class="{{ slideClasses|join(' ') }}{% if slideData.slideSettings.slide.cssClass %} {{ slideData.slideSettings.slide.cssClass }}{% endif %}"
            data-elysium-slide-id="{{ slideData.id }}"
            {% if isPreviewMode is defined and isPreviewMode %}
                data-elysium-slide-preview
                data-elysium-slide-preview-options="{{ {layout: layout|default('detail')}|json_encode|escape('html_attr') }}"
            {% endif %}
            style="aspect-ratio: var(--slide-aspect-ratio, auto);">

            {% block blur_elysium_slide_prepend %}{% endblock %}
            
            {% block cms_element_blur_elysium_slide_style %}
                {% sw_include '@Storefront/storefront/component/blur-elysium-slide/includes/style.html.twig' %}
            {% endblock %}

            {% sw_include '@BlurElysiumSlider/storefront/component/blur-elysium-slide/includes/cover.html.twig' %}

            {% block blur_elysium_slide_container_wrapper %}
                {% if showContainerWrapper is same as(true) %}
                    <div class="container d-flex blur-elysium-slide-container-wrapper">
                {% endif %}
                {{ block('blur_elysium_slide_container') }}
                {% if showContainerWrapper is same as(true) %}
                    </div>
                {% endif %}
            {% endblock %}

            {{ block('blur_elysium_slide_link_overlay') }}

            {% block blur_elysium_slide_append %}{% endblock %}

        </div>
    {% endblock %}
{% endif %}
