{% block blur_elysium_slide_content %}
    {% set headlineClasses = [
        'blur-elysium-slide-headline'
    ] %}

    {% set headlineElement = 'div' %}

    {% set headlineTagsWhitelist = [
        '<br>',
        '<i>',
        '<b>',
        '<u>',
        '<strong>',
        '<span>'
    ] %}

    {% if slideData.slideSettings.slide.headline.element %}
        {% set headlineElement = slideData.slideSettings.slide.headline.element %}
    {% endif %}

    {% set descriptionClasses = [
        'blur-elysium-slide-description'
    ] %}

    {% set actionsClasses = [
        'blur-elysium-slide-actions'
    ] %}

    {% set mainBtnClasses = [
        'blur-elysium-slide-main-btn',
        'btn'
    ] %}

    {% if slideData.slideSettings.slide.linking.buttonAppearance %}
        {% set mainBtnClasses = mainBtnClasses|merge([
            'btn-' ~ slideData.slideSettings.slide.linking.buttonAppearance
        ]) %}
    {% endif %}

    {% set descriptionContent = slideData.translated.description %}
    {% set showActions = actionMainUrl and slideData.slideSettings.slide.linking.overlay is not same as( true ) %}
    {% set actionMainLabel = slideData.translated.button_label ?? 'blurElysium.slide.buttonLabel'|trans %}

    {% block blur_elysium_slide_content_element %}
        <div class="blur-elysium-slide-content">
            {% block blur_elysium_slide_headline %}

                {% if headlineContent %}
                    <{{headlineElement|raw}} 
                        class="{{ headlineClasses|join(' ') }}">
                        {{ headlineContent|raw }}
                    </{{headlineElement|raw}}>
                {% endif %}
            {% endblock %}

            {% block blur_elysium_slide_description %}
                {% if descriptionContent %}
                    <div class="{{ descriptionClasses|join(' ') }}">
                        {{ descriptionContent|raw }}
                    </div>
                {% endif %}
            {% endblock %}

            {% block blur_elysium_slide_actions %}
                {% if showActions %}
                    <div class="{{ actionsClasses|join(' ') }}">
                        
                        {% block blur_elysium_slide_action_main %}
                            <a href="{{ actionMainUrl }}" 
                                title="{{ actionMainLabel }}" 
                                class="{{ mainBtnClasses|join(' ') }}"
                                {% if slideData.slideSettings.slide.linking.openExternal is same as(true) %}
                                    target="_blank"
                                    rel="noopener"
                                {% endif %}>
                                
                                {{ actionMainLabel }}
                            </a>
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}